@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-family: 'Marcellus', serif;
}

.section{
  display: flex;
  flex-direction: column;
  }

  a{
      text-decoration: none;
      color:  black; 
      font-family: 'Marcellus', serif;
   }


  

.section p a{
  color:#f09254;
}